@model Project_1.Models.Contact

@{
    ViewBag.Title = "Contact Us";
}

<h2>Contact Dear Returned Missionary</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

  
<div class="form-horizontal">
    <hr />
    <h3>Call or Email Us</h3>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Company_Email)
        </dt>
        <p>: dear_rm@churchofjesuschrist.org</p>

        <dt>
            @Html.DisplayNameFor(model => model.Company_Phone)
        </dt>
        <p>: 801-332-0592</p>

    </dl>
    <br />
    <br />
    <h3>Send Us a Message</h3>


    <div class="form-control-static">
        @Html.LabelFor(model => model.User_Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.User_Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.User_Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <br />
    <div class="form-control-static">
        @Html.LabelFor(model => model.User_Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.User_Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.User_Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group-static">
        @Html.LabelFor(model => model.Subject_Code, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Subject_Code, new SelectList(ViewBag.Subject, "Subject_Code", "Subject_Desc"), new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Subject_Code, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group-static">
        @Html.LabelFor(model => model.User_Message, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.User_Message, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.User_Message, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="dropbtn" method="post" />
        </div>
    </div>
</div>


}


<div>
    @Html.ActionLink("Back to Home", "Index", "Home") |
    @Html.ActionLink("Missions", "MissionChoices", "Mission") |
    @Html.ActionLink("About Us", "AboutUs", "About")
</div>