@model IEnumerable<Project_1.Models.Mission>
<link href="~/Content/MyStyles.css" rel="stylesheet" />
@{
    ViewBag.Title = "MissionFAQ";
}

<h2>MissionFAQ</h2>

<p>
    @Html.ActionLink("Go back", "MissionChoices")
</p>
<table class="table">
    <tr>
        <!--<th>
            @Html.DisplayNameFor(model => model.Mission_Code)
        </th>-->
        <th>
            @Html.DisplayNameFor(model => model.Mission_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name_First_President)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name_Last_President)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Climate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Main_Religion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <!--<td>
           @Html.DisplayFor(modelItem => item.Mission_Code)
        </td>-->
        <td>
            @Html.DisplayFor(modelItem => item.Mission_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name_First_President)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name_Last_President)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Climate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Main_Religion)
        </td>
        <!--<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>-->
    </tr>
}

</table>



<html>
<body>
    @{

    
        string question = "";
        <form method="post" action="">
            <h4>Have a question?</h4>
            <textarea cols="75" rows="4" type="text" name="question" value="" class="input-lg"></textarea><br /><br />

            <input type="submit" value="Submit" class="dropbtn" />
        </form>
        <br /> <br />

        question += Request.Form["Question"];
        ViewBag.questions += question;

        if (ViewBag.questions != "")
        {
        <p>
            <h4>
                FAQs: <br /><br />

                @ViewBag.questions <br />
            </h4>
            <input type="text" name="answer" value="" class="input-lg" /> <br /><br />
            <button id="replyButton" class="dropbtn" style="display: block">Reply</button> <br />
            <!--<button id="testButton" onclick="showButton()" style="display: block">Reply</button><br />-->
        </p>
        }
        else
        {
        <script>
            function showButton() {
                document.getElementById("replyButton").style.display = block;
            }
        </script>
        }
    }
</body>
</html>
<div>
    @Html.ActionLink("Back to Home", "Index", "Home") |
    @Html.ActionLink("Choose Missions", "MissionChoices", "Mission") |
    @Html.ActionLink("Contact", "Contact", "Contact") |
    @Html.ActionLink("About Us", "AboutUs", "About")
</div>